<div class="container">
	<div class="row">
		<h1>Acerca de este sitio</h1>
	</div>

	<div class="row marketing">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<br>
	<div class="row">
		<div class="col-md-4">
			<img src="http://placekitten.com/200/200" alt="foto1" class="img-circle img-responsive">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, sapiente. Quia in accusamus, laudantium porro quis! Ab, rerum odit temporibus tenetur, cum laborum ut, voluptatum unde molestias aperiam illum sit!</p>
		</div>
		<div class="col-md-4">
			<img src="http://placekitten.com/200/200" alt="foto1" class="img-circle img-responsive">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis molestiae ullam ipsum quam deserunt veniam consequatur vitae sequi unde dignissimos! Amet quis eaque tempore totam itaque est quod adipisci vel.</p>
		</div>
		<div class="col-md-4">
			<img src="http://placekitten.com/200/200" alt="foto1" class="img-circle img-responsive">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut alias labore excepturi voluptates nesciunt, expedita libero adipisci harum officiis rem culpa exercitationem quibusdam mollitia eius tempore, laborum fugit nemo! Necessitatibus.</p>
		</div>
	</div>
</div>