<div class="container">
	<div class="row marketing">
		<h1>Preguntas frecuentes</h1>
	</div>
	<div class="row marketing">

		<h4>¿Cómo puedo retirar el TCU?</h4>
		<p>Presentá una carta a la sección de TCU en la que indique:</p>
		<ul>
			<li>
				<p>Justificación del retiro de matrícula en ese proyecto.</p>
			</li>
			<li>
				<p>Reconocimiento de horas (en caso de que hayás cumplido con un mínimo de 50 horas).</p>
			</li>
			<li>
				<p>Visto bueno de la persona responsable del proyecto.</p>
			</li>
		</ul>

		<br/><h4>¿Cuántas horas debo realizar en el TCU?</h4>
		<p>Bachillerato y Licenciatura: 300 horas</p>
		<p>Diplomado o profesorado: 150 horas.</p>

		<br/><h4>¿Cuánto tiempo tengo para finalizar el TCU?</h4>
		<p>
			Tenés hasta un año para completar las horas, el mínimo para concluirlas es
			de tres meses. En caso de que no hayás concluido en el período de un año,
			podés solicitar una prórroga por un máximo de tres meses.
		</p>
		<p>
			Tomá en cuenta que si no presentás la carta de conclusión o de retiro podés ser sancionado hasta por seis meses.
		</p>

		<br/><h4>¿Cuál es el trámite para solicitar una prórroga en un proyecto?</h4>
		<p>
			15 días antes del vencimiento de tu período de conclusión, debés enviar
			una carta a la sección de TCU que contenga:
		</p>
		<ul>
			<li>
				<p>Nombre completo.</p>
			</li>
			<li>
				<p>Número de carné.</p>
			</li>
			<li>
				<p>Proyecto en el cual te encontrás inscrito.</p>
			</li>
			<li>
				<p>Visto bueno de la persona responsable del proyecto.</p>
			</li>
			<li>
				<p>Justificación de la prórroga.</p>
			</li>
			<li>
				<p>Cronograma de trabajo de los próximos meses.</p>
			</li>
		</ul>
		<p>
			Las fechas del cronograma de trabajo no debe superar los tres meses
			calendario, a partir de la fecha en que vence la vigencia de tu matrícula.
		</p>

		<br/><h4>¿Cómo puedo trasladarme de proyecto?</h4>
		<p>
			El traslado de un proyecto a otro es posible únicamente si retirás el
			proyecto en el que estés matriculado y, posteriormente, realizás nuevamente
			el proceso de matrícula en el proyecto que deseés. Recordá que si tenés un
			mínimo de 50 horas aprobadas podrás solicitar el reconocimiento de horas
			en la carta de retiro.
		</p>

		<br/><h4>¿Por cuáles motivos se puede sancionar a un(a) estudiante?</h4>
		<ul>
			<li>
				<p>Incumplimiento de tareas encomendadas.</p>
			</li>
			<li>
				<p>Culminación del plazo de los 12 meses sin concluir las horas matriculadas.</p>
			</li>
			<li>
				<p>Abandono del proyecto sin realizar el trámite de retiro.</p>
			</li>
		</ul>

		<br/><h4>¿Cuáles son los deberes del docente responsable del proyecto que matriculé?</h4>
		<ul>
			<li>
				<p>Vigilar por el desarrollo y cumplimiento de los objetivos del proyecto.</p>
			</li>
			<li>
				<p>
					Aprobar, mediante su firma en la libreta de campo, el control de las
					horas de cada estudiante.
				</p>
			</li>
			<li>
				<p>
					Gestionar la participación efectiva de docentes invitados así como los
					asistentes que el proyecto necesite para su desarrollo
				</p>
			</li>
			<li>
				<p>
					Participar activamente en las reuniones que convoque la Vicerrectoría
					de Acción Social con motivos del proyecto a su cargo
				</p>
			</li>
			<li>
				<p>Presentar un informe final del proyecto de conformidad con las normas pertinentes</p>
			</li>
			<li>
				<p>
					Hacer constar, mediante una carta dirigida a la Sección de TCU, la
					conclusión de horas de los y las estudiantes a su cargo.
				</p>
			</li>
		</ul>

		<br/><h4>¿Cuáles son mis deberes como estudiante matriculado en un proyecto de TCU?</h4>
		<ul>
			<li>
				<p>Coordinar con la persona responsable del proyecto.</p>
			</li>
			<li>
				<p>Asistir puntualmente a las actividades que el proyecto requiera.</p>
			</li>
			<li>
				<p>Comportarte acorde a los principios y propósitos de la Universidad.</p>
			</li>
			<li>
				<p>
					Presentar un informe final al responsable del proyecto en un lapso máximo
					de un mes después de realizado el trabajo.
				</p>
			</li>
		</ul>

		<br/><h4>¿Qué debo hacer al concluir el TCU?</h4>
		<p>
			Solicitá a la persona responsable del proyecto que envíe una carta, firmada
			por él o ella, a la sección de TCU con los siguientes datos tuyos:
		</p>
		<ul>
			<li>
				<p>Nombre completo.</p>
			</li>
			<li>
				<p>Número de carné.</p>
			</li>
			<li>
				<p>Número de horas aprobadas.</p>
			</li>
		</ul>
	</div>
</div>
