<div class="footer" id="footer">
  <div class="container">
  	<div class="row">
		<h2>Mapa del sitio</h2>
  	</div>

  	<div class="row">

  		<div class="col-md-4">
  			<a href="/"><h3>Inicio</h3></a>
  		</div>

  		<div class="col-md-4">
  			<a href="/about"><h3>Acerca de este sitio</h3></a>
  		</div>

  		<div class="col-md-4">
  			<a href="/faq"><h3>F.A.Qs</h3></a>
  		</div>

  	</div>

  	<div class="row">
  		<div class="col-md-4">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png"/></a>
        </div>
  	</div>
  </div>
</div>