

<div class="jumbotron">
   <div class="container">
      <h1>Bienvenido!</h1>
   </div>
</div>


<!-- <div class="container">
<div class="row marketing">
<div ng-repeat="proyecto in proyectos">
<h4>{{proyecto.codigo}}</h4>
<p>{{proyecto.descripcion}}</p>
</div>
</div>
</div> -->
<br/> <br/> <br/>
<div class="areas">
   <div class="col-md-4">
      <a id="artes-y-letras"	href="#" >Artes y letras</a>
   </div>
   <div class="col-md-4">
      <a id="artes-y-letras"	href="#" >Ciencias Básicas</a>
   </div>
   <div class="col-md-4">
      <a id="artes-y-letras"	href="#" >Ciencias Sociales</a>
   </div>
</div>
<div class="areas" style="margin-top:150px;">
   <div class="col-md-4">
      <a id="artes-y-letras"	href="#" >Ingenierías</a>
   </div>
   <div class="col-md-4">
      <a id="artes-y-letras"	href="#" >Ciencias Agroalimentarias</a>
   </div>
   <div class="col-md-4">
      <a id="artes-y-letras"	href="#" >Ciencias de la Salud</a>
   </div>
</div>
