<div class="jumbotron">
  <div class="container">
    <h1>Bienvenido!</h1>
    <h2>Seleccioná el área de tu carrera</h2>
  </div>
</div>

<div class="row areas">
  <div class="col-md-4">
    <a href="/proyectos/Artes">
      <img id="artes-y-letras"	src="/images/artes.jpg" class="img-rounded img-responsive centrado" width="280" height="200"/>
      <h3>Artes y letras</h3>
    </a>
  </div>
  <div class="col-md-4">
    <a href="/proyectos/Basicas">
      <img id="ciencias-basicas"	src="/images/basicas.jpg" class="img-rounded img-responsive centrado" width="280" height="200"/>
      <h3>Ciencias Básicas</h3>
    </a>
  </div>
  <div class="col-md-4">
    <a href="/proyectos/Sociales">
      <img id="ciencias-sociales"	src="/images/sociales.jpg" class="img-rounded img-responsive centrado" width="280" height="180"/>
      <h3>Ciencias Sociales</h3>
    </a>
  </div>
</div>
<div class="row areas">
  <div class="col-md-4">
    <a href="/proyectos/Ingenieria">
      <img id="ingenieria"	src="/images/ingenieria.jpg" class="img-rounded img-responsive centrado" width="280" height="200"/>
      <h3>Ingeniería</h3>
    </a>
  </div>
  <div class="col-md-4">
    <a href="/proyectos/Salud">
      <img id="salud"	src="/images/salud.jpg" class="img-rounded img-responsive centrado" width="280" height="200"/>
      <h3>Ciencias de la salud</h3>
    </a>
  </div>
  <div class="col-md-4">
    <a href="/proyectos/Agro">
      <img id="agroalimentarias"	src="/images/agro.jpg" class="img-rounded img-responsive centrado" width="280" height="200"/>
      <h3>Ciencias Agroalimentarias</h3>
    </a>
  </div>
</div>
