<nav class="navbar navbar-inverse sidebar" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Áreas</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/proyectos/Artes">Artes y letras<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-pencil"></span></a></li>
        <li><a href="/proyectos/Basicas">Ciencias Básicas<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-book"></span></a></li>
        <li><a href="/proyectos/Sociales">Ciencias Sociales<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-user"></span></a></li>
        <li><a href="/proyectos/Ingenieria">Ingeniería<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-road"></span></a></li>
        <li><a href="/proyectos/Agro">Agroalimentarias<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-leaf"></span></a></li>
        <li><a href="/proyectos/Salud">Ciencias de la salud<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-heart"></span></a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div ng-repeat="proyecto in proyectos.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
    <a href="/proyecto/{{proyecto._id}}"><h3>{{proyecto.codigo }} - {{ proyecto.nombre }}</h3></a>
    <p><strong>Área: </strong>{{ proyecto.area }}</p>
    <p><strong>Carreras:</strong>
      <span ng-repeat="carrera in proyecto.carreras">
        <span ng-if="!$last"> {{carrera}}, </span>
        <span ng-if="$last">{{carrera}}.</span>
      </span>
    </p>
    <hr/>
  </div>

  <!-- Ver
  <select ng-model="viewby" ng-change="setItemsPerPage(viewby)">
    <option>3</option>
    <option>5</option>
    <option>10</option>
    <option>20</option>
    <option>30</option>
    <option>40</option>
    <option>50</option>
  </select>
  resultados por página.
  
  <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination> -->

  <div ng-show="proyectoArea == 'Todos'" class="selecProy">
    <h1>Seleccioná el área de tu carrera</h1>
  </div>
</div>
