<div class="row">
	<div class="col-md-12">
		<!--Info del proyecto-->
		<div class="col-md-6">

			<div class="col-md-12" style="margin-top:10px;">
				<h2>Proyecto TCU - {{proyecto.codigo}} </h2>
			</div>
			<div class="col-md-12">
				<h2>"{{proyecto.nombre}}"</h2>
			</div>

			<img class="proyectoImg img-rounded img-responsive" ng-src="{{'images/'+proyecto.imagen}}" height="400" width="650"/>

			<div class="col-md-12" style="margin-top:10px;">
				<button name="followbtn" id="followbtn" class="btn" ng-click="follow()" style="float:right;"
				ng-class="{'btn-primary': !followed, 'btn-success': followed}" ng-disabled="followed">{{followed? 'Siguiendo': 'Sigue a este proyecto'}}</button>
			</div>

			<div class="col-md-12" style="margin-top:10px;">
				<p><strong>Sobre el proyecto</strong></p>
				<div class="col-md-12">
					<p>{{proyecto.descripcion}}</p>
				</div>
			</div>

			<div class="col-md-12">
				<p><strong>Área: </strong> {{proyecto.area}}</p>
			</div>
			<div class="col-md-12">
				<p><strong>Carreras</strong>
					<ul ng-repeat="carrera in proyecto.carreras">
						<li>{{carrera}}</li>
					</ul>
				</p>
			</div>


				<div class="col-md-6">
					<p><strong>Coordinador(a): </strong>{{proyecto.encargado}}</p>
				</div>
				<div class="col-md-6">
					<p>{{proyecto.infoContacto}}</p>
				</div>


			<div class="col-md-12">
				<p> <strong>Calificación: </strong>{{proyecto._rating}}/5</p>
			</div>

			<div class="col-md-12">
				<h4>{{message.status===404? 'Comentarios': ''}}</h4>
				<hr/>
			</div>
			<!-- {{message.status===404? 'No encontramos el proyecto que buscas :(': ''}} -->
		</div>
		<!--Termina info del proyecto-->

		<!-- Comentarios acerca del proyecto -->
		<div class="comentarios col-md-6">
			<h1>Comentarios</h1>

			<div class="col-md-12">
				<div ng-repeat="comentario in comentarios">
					<p>{{comentario.contenido}}</p>
					<cite>{{comentario.autor.nombre}} : {{comentario.fecha | date: 'short'}}</cite>
					<a href="" ng-click="borrarComment(comentario._id, $index)" ng-show="comentario.autor.id === user._id"><i class="fa fa-times" aria-hidden="true"></i></a>
					<hr/>
				</div>
			</div>
			<div class="col-md-12">
				<form name="form" ng-submit="submitComment(form)" novalidate>
					<div class="form-group">
						<textarea name="comment" ng-model="comment" placeholder="Escribe algo!" required rows="3" cols="50">
						</textarea>
					</div>
					<button type="submit" class="btn btn-primary" ng-disabled="form.$invalid">Enviar</button>
				</form>
			</div>
			<!-- Termina comentarios del proyecto -->
		</div>
	</div>
</div>
