<div class="container selecProy">
	<div class="row col-sm-12 projectTitle">
		<h1>Proyecto TCU - {{proyecto.codigo}} </h1>
		<h1>"{{proyecto.nombre}}"</h1>
	</div>

	<div class="row col-sm-12">
		<h3>Sobre el proyecto</h3>
		<div class="container">
			<h4>{{proyecto.descripcion}}</h4>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6"><h3>Área: {{proyecto.area}}</h3></div>
		<div class="col-sm-6">
			<h3>Carreras
				<ul ng-repeat="carrera in proyecto.carreras">
					<li>{{carrera}}</li>
				</ul>
			</h3>
		</div>
	</div>

	<div class = "row">
		<div class="col-sm-12"><h3>Coordinador(a):</h3></div>
		<div class="col-sm-6"><h3> {{proyecto.encargado}}</h3></div>
		<div class="col-sm-6"><h3>{{proyecto.infoContacto}}</h3></div>
	</div>
	<h3> Calificación: {{proyecto._rating}}/5</h3>
</div>
<div class="container comentarios">
	<h2>Comentarios</h2>
</div>
{{message.status===404? 'No encontramos el proyecto que buscás :(': ''}}
