<div class="container">
	<div class="row marketing">
		<h1>Cambiar foto de perfil</h1>
	</div>

	<div class="container">
		<form name="uploadForm">

			<input type="file" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
			accept="image/*" ngf-max-size="20MB"/>

            Vista previa de imagen: <img style="width:100px;" ngf-thumbnail="file || '/images/yeoman.png'"/>
            <i ng-show="uploadForm.file.$error.required">*requerido</i><br>
            <i ng-show="uploadForm.file.$error.maxSize">Archivo muy grande
            {{file.size / 1000000|number:1}}MB: max 20M</i>
            <hr/>
            <button class="btn btn-lg btn-default"type="submit" ng-click="submit()">Guardar</button>
            <p>{{progress}}</p>
		</form>
	</div>
</div>
